<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form action="/clie/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Nome do cliente:">
        </div>
        <div>
            <input type="text" name="cic" placeholder="CPF do cliente:">
        </div>
        <div>
            <input type="text" name="address" placeholder="Endereço do cliente:">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form> 
</body>
</html>